* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: rgb(162, 159, 159);
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto 30px auto;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid lightgray;
  outline: none;
}

button {
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: rgb(17, 205, 0);
  color: white;
}

button:hover {
  background: rgb(17, 205, 0);
}

ul {
  list-style: none;
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 14px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

li span {
  cursor: pointer;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: crimson;
}

.delete-btn:hover {
  background: firebrick;
}
